<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<head>
   <title>F355-RANKING</title>
   <meta http-equiv="Content-Type" content="text/html; charset=<%=language === 'ja' ? 'x-sjis' : 'iso-8859-1'; %>">
</head>
<body bgcolor="#FFFFFF">
<center>

<br>
<br>

<table border="0" cellspacing="0" cellpadding="0" width="512">
   <tr bgcolor="#FF0000">
      <td><img src="/f355/ranking_ja/RANK/IMAGES/F355_time.gif" width="274" height="50" align="bottom" alt="time"><br><img src="/f355/ranking_ja/RANK/IMAGES/<%= headTgif %>" width="274" height="20" align="bottom" alt="<%= circuitNameLow %>"></td>
      <td align="right"><img src="/f355/ranking_ja/RANK/IMAGES/F355_photo.jpg" width="83" height="50" align="bottom" alt="F355 Photo"><img src="/f355/ranking_ja/RANK/IMAGES/<%= headgif %>" width="88" height="76" align="bottom" alt="<%= circuitNameLow %>"></td>
   </tr>
</table>
<br>

<table border="0" cellspacing="0" cellpadding="0" width="512">
   <tr>
      <td><font color="#000000"><%= semiAutoLabel %>/<%= circuitName %></font></td>
   </tr>
</table>
<table border="0" cellpadding="0" width="512">
   <tr bgcolor="#FF0000">
      <td width="50"><center><font color="#FFFFFF">Rank</font></center></td>
      <td width="200"><font color="#FFFFFF">Name</font></td>
      <td width="70"><font color="#FFFFFF">Country</font></td>
      <td width="80"><font color="#FFFFFF">Time</font></td>
      <td width="100"><font color="#FFFFFF">Date</font></td>
   </tr>
   <% for (let i = 0; i < results.length; i++) { %>
	   <tr bgcolor="<%= i % 2 == 0 ? '#FFCCCC' : '#FFFFFF' %>">
	      <td width="50"><center><font color="<%= results[i].dataPath !== null ? 'red' : 'black' %>"><%= i + 1 %></font></center></td>
	      <td width="200">
	      	<% if (getDataUrl(results[i]).length) { %>
	      	  <a href="<%= getDataUrl(results[i]) %>">
	      	<% } %>
	      	<%= results[i].name %><br>&#91;<%= results[i].scoreName %>&#93;<%
                if (getDataUrl(results[i]).length) {
                    %></a><%
                }
                if (results[i].tuned) {
                    %><img src="/f355/ranking_ja/IMAGES/icon_tuned.gif" vspace="2" hspace="5" alt="tuned"><%
                }
                if (results[i].assisted) {
                    %><img src="/f355/ranking_ja/IMAGES/icon_assisted.gif" vspace="2" hspace="5" alt="assisted"><%
                }
                if (results[i].arcade) {
                    %><img src="/f355/ranking_ja/IMAGES/icon_arcade.gif" vspace="2" hspace="5" alt="arcade"><%
                }
            %><img src="/f355/ranking_ja/IMAGES/<%= getRaceModeIcon(results[i]) %>" vspace="2" hspace="5" alt="<%= getRaceModeAlt(results[i]) %>"></td>
	      <td width="70"><%= results[i].country %></td>
	      <td width="80"><%= results[i].getRunTimeString() %></td>
	      <td width="100"><%= results[i].getRunDateString() %></td>
	   </tr>
   <% } %>
<tr bgcolor="#FF0000"><th colspan="5">F355 challenge</th></tr>
</table></center><br>
<center>
<img src="/f355/ranking_ja/IMAGES/icon_tuned.gif" hspace="10" alt="tuned">
<img src="/f355/ranking_ja/IMAGES/icon_assisted.gif" hspace="10" alt="assisted">
<img src="/f355/ranking_ja/IMAGES/icon_free.gif" hspace="10" alt="drive">
<img src="/f355/ranking_ja/IMAGES/icon_arcade.gif" hspace="10" alt="arcade">
<a href="<%= baseUrl %>/mark.html"><%= msg.rank_icon_help %></a><p>
</center>
<br>
<center><table><tr><td width="480"><%= msg.rank_ghost_help %><p></td></tr></table></center><center>
<table>
 <tr>
   <td width="10"></td>
   <td width="160"></td>
   <td width="170"></td>
   <td width="170"></td>
 </tr>
 <tr>
   <td></td>
   <td align="left"><% if (previousPageUrl.length) { %><a href="<%= previousPageUrl %>">previous</a><% } %></td>
   <td align="center"><a href="<%= baseUrl %>/index.html">up</a></td>
   <td align="right"><% if (nextPageUrl.length) { %><a href="<%= nextPageUrl %>">next</a><% } %></td>
 </tr>
</table>
</center>
<br>
<center><form action="view_rank.cgi" method="get">
<input type="hidden" name="circuit" value="<%= circuit %>">
<input type="hidden" name="semiAuto" value="<%= semiAuto %>">
<input type="text" maxlength="9" name="index" size="10" value="<%= index %>"><%= msg.rank_from %><p>
<select name="tuned">
  <option value="-1" <%= tuned == -1 ? "selected" : "" %>><%= msg.rank_tuned_all %>
  <option value="0" <%= tuned == 0 ? "selected" : "" %>><%= msg.rank_tuned_false %>
  <option value="1" <%= tuned == 1 ? "selected" : "" %>><%= msg.rank_tuned_true %>
</select><p>
<select name="assisted">
  <option value="-1" <%= assisted == -1 ? "selected" : "" %>><%= msg.rank_assist_all %>
  <option value="0" <%= assisted == 0 ? "selected" : "" %>><%= msg.rank_assist_false %>
  <option value="1" <%= assisted == 1 ? "selected" : "" %>><%= msg.rank_assist_true %>
</select><p>
<select name="raceMode">
  <option value="-1" <%= raceMode == -1 ? "selected" : "" %>><%= msg.rank_mode_all %> 
  <option value="0" <%= raceMode == 0 ? "selected" : "" %>><%= msg.rank_mode_norace %>
  <option value="1" <%= raceMode == 1 ? "selected" : "" %>><%= msg.rank_mode_race %>
</select><p>
<select name="country">
  <option value="-1" <%= country == -1 ? "selected" : "" %>>All countries
  <option value="0" <%= country == 0 ? "selected" : "" %>>Japan (JP)
  <option value="1" <%= country == 1 ? "selected" : "" %>>North and Middle America (US,CA,MX)
  <option value="2" <%= country == 2 ? "selected" : "" %>>Europe (UK,FR,DE,ES,IT,IS,FI,NO,SE,NL,LU,BE,AT,CH,GR,PT,IE)
  <option value="3" <%= country == 3 ? "selected" : "" %>>--
</select><p>
<select name="machine">
  <option value="-1" <%= machine == -1 ? "selected" : "" %>><%= msg.rank_machine_all %>
  <option value="0" <%= machine == 0 ? "selected" : "" %>><%= msg.rank_machine_dc %>
  <option value="1" <%= machine == 1 ? "selected" : "" %>><%= msg.rank_machine_arcade %>
</select><p><br>
<table cellpadding="5">
 <tr>
  <td><input type="submit" value="<%= msg.rank_submit %>"></td>
  <td><input type="reset" value="<%= msg.rank_reset %>"></td>
 </tr>
</table>
</form>
</center><center><a href="<%= home %>"><img src="/f355/ranking_ja/IMAGES/355b.gif" border="0" alt="Home"></a></center>
</body>
</html>
